#output {
  font-family:Andale Mono, Courier New, Courier, Fixed, monospace;
  border: 3px solid #cccccc;
  padding: 5px;
  width: 480px;
  height: 300px;
}

#input {
  border: 2px solid #cccccc;
  padding: 4px;
  width: 485px;
}

#error {
  font-style: italic;
  color: red;
}

#content_table {
  border: 1px solid #eeeeee;
  padding: 4px;
  text-align: center;
}

td {
  padding: 4px;
  margin: 2px;
  border: 2px solid #eeeeee;
}
